@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 200;
}
body{
    font-family: "poppins" , sans-serif;
    background-image: url(../images/Atlantic-Beach_Terry-Ward-1600x1200.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    color: #fff;
}
.container{
    padding: 20px 70px;
    color: #fff;
}
.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.data-container{
    font-weight: 300;

}
.data-container .time{
    font-size: 70px;
    }
.data-container .time .pm-am{
    font-size: 30px;
    font-weight: 100;
}
.data-container .date{
    font-size: 30px;    
    }
.place-container{
    text-align: end;
    font-size: 35px;
    font-weight: 100;
    }
.futer-forcast{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    display: flex;
    color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.futer-forcast .weather-forecast{
   
  
    display: flex;
    color: #fff;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
   
}
.futer-forcast .today{
 
    display: flex;
   
 
    align-items: center;
    justify-content: center;
    border: #eee solid 1px;
    border-radius: 50px;
}
.futer-forcast .today .others{
 
    /* display: flex;
   
 
    align-items: center;
    justify-content: center; */
    width: 200px;
}
.futer-forcast .today .day{

    padding: 5px 15px;
    background-color: #3c3c44;
    border-radius: 50px;
    text-align: center;
    width: 100px;
}
.futer-forcast .today .temp{

   font-size: 20px;
   padding-top: 15px;

}
.weather-forecast .wither-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px;
}
.weather-forecast .wither-forecast-item .day{
   padding: 5px 15px;
   background-color: #3c3c44;
   border-radius: 50px;
   text-align: center;
}
.weather-forecast .wither-forecast-item .temp{
 font-weight: 100;
}
@media screen and (max-width:768px) {
    .futer-forcast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.search-container input{
    width: 30%;
    height: 40px ;
    border: none;
    border-radius: 50px 0  0 50px;

}
.search-container button{
    height: 40px;
   width: 40px;
   border: none;
   background-color: burlywood;

}